*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 146, 55);

}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
}
.ben{
    height: 800px;
    background-color: rgb(111, 180, 126);
    background-image: url(../images/ben10.png);
    background-size: 300px;
    background-repeat:no-repeat ;
    background-position:300px ;
    padding: 50px;
    text-align: center;
}

.gwen{
    height: 800px;
    background-color: rgb(206, 143, 214);
    background-image: url(../images/gwen.jpg);
    background-size: 300px;
    background-repeat:no-repeat;
    background-position: 300px;
    padding: 50px;
    text-align: center;
}

h1{
    font-family: 'Rubik Distressed', cursive;
    font-size: 50px;
}

h2{
    font-family: 'Rubik Distressed', cursive;;
    font-size: 50px;
    text-align: center;
}